
/* --- --- --- --- add fonts --- --- --- --- */

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroylight.woff') format('woff'),
    url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroyextrabold.woff') format('woff'),
    url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/opensans.woff') format('woff'),
    url('../fonts/opensans.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans light';
  src:
    url('../fonts/opensanslight.woff') format('woff'),
    url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: normal;
}

/* --- --- --- --- initial--- --- --- --- */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans light", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;

  color: #464646;

  background-color: #ffffff;

  min-width: 1160px;

  /*
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;
  */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: auto;
}

/* --- --- --- --- main-theme, links and buttons --- --- --- --- */

.main-theme {}

.main-theme a {
  text-decoration: none;
  color: #000000;
}
.main-theme a:hover {
  opacity: 0.6;
}
.main-theme a:active {
  opacity: 0.3;
}
.main-theme a:visited {
  color: #000000;
}

a.button-animated {
  opacity: 1;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;

  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  background: linear-gradient(180deg, rgba(255,255,255,0) 14px, rgba(240,197,46,1) 15px, rgba(240,197,46,1) 22px, rgba(255,255,255,0) 23px);

  padding: 8px 40px 7px;

}

a.button-animated:hover {
  opacity: 1;

  background-color: rgba(240,197,46,1);
}

a.button-animated:active {
  opacity: 1;
  color: rgba(0,0,0,0.3);
  background-color: rgba(240,197,46,1);
}

/* --- --- --- --- page-navigation --- --- --- --- */

.page-navigation {
  color: #000000;
  background-color: rgba(240, 197, 46, 0.5);
  /*
  background: linear-gradient(180deg, rgba(255,255,255,0) 40px, rgba(240,197,46,0.5) 40px);
   */
  padding: 0 57px 50px 57px;
  margin: 40px 0 0 0;
}

.page-header .device-logo {
  position: relative;
  top: -18px;
}

.device-logo:hover {
  opacity: 0.6;
}

.device-logo:active {
  opacity: 0.3;
}

/* fix for ie 10 and 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .device-logo img:active {
    opacity: 0.3;
  }
}

/* --- --- --- --- user-navigation --- --- --- --- */

.user-navigation {
  list-style: none;
  padding: 0 0 0 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 4px 0 0;
}

.user-navigation > li {
  font-family: "Open Sans light", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;

  margin-right: 42px;
}

.user-navigation > li:last-child {
  margin-right: 0px;
}

/* --- --- --- --- user-navigation search --- --- --- --- */

.user-navigation  .search {
  min-width: 543px;
  margin-right: 0px;
}

/* --- --- --- --- user-navigation authorization --- --- --- --- */

.user-navigation .authorization {
  min-width: 280px;
  flex-grow: 1;

  margin-right: 0px;
}

.user-navigation .user-navigation-link {
  position: relative;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 27px;
}

.login-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

.user-navigation .user-profile-link {
  position: relative;
  padding-left: 27px;
}

.user-profile-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0px;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

.logout-link {
  margin-left: 16px;
  opacity: 0.3;
}

.user-navigation .compare-link {
  padding-left: 20px;

}

/* --- --- --- --- user-navigation other items --- --- --- --- */

.compare-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 0px;

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

.user-navigation .cart-link {
  padding-left: 24px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 0px;

  width: 12px;
  height: 12px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 1;
}

/* --- --- --- --- site-navigation --- --- --- --- */

.site-navigation {
  list-style: none;
  padding: 0 0 0 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 40px 0 0 0;

}

.site-navigation > li {
  text-transform: uppercase;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;

  margin-right: 42px;
}

.site-navigation > li:last-child {
  margin-right: 0px;
  flex-grow: 1;
  text-align: right;
}

.site-navigation .site-navigation-catalog {
  position: relative;
  min-width: 243px;
  margin-right: 300px;
}

.site-navigation h2 {
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0 0 0 0;
}

/* --- --- --- --- catalog-navigation --- --- --- --- */

.catalog-navigation {
  display: none;
  z-index: 20;

  position: absolute;
  left: -57px;

  list-style: none;
  padding: 20px 440px 30px 57px;

  flex-wrap: wrap;

  width: 1160px;
  min-height: 164px;

  background: rgba(247,226,150,1);
}

.site-navigation-catalog:hover .catalog-navigation {
  display: flex;
}

.catalog-navigation li {
  text-transform: initial;
  font-family: "Open Sans light", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;

  margin: 0;
}

/* fix for ie 10 and 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .catalog-navigation li {
    text-transform: lowercase;
  }

  .catalog-navigation li:first-letter {
    text-transform: capitalize;
  }
}

/* --- --- --- --- catalog-navigation list items layout --- --- --- --- */

.catalog-navigation li:nth-child(3n+1) {
  width: 240px;
  padding-right: 40px;
}

.catalog-navigation li:nth-child(3n+2) {
  width: 200px;
  padding-right: 40px;
}

.catalog-navigation li:nth-child(3n) {
  width: 200px;
  padding-right: 40px;
}

.catalog-navigation li:nth-last-child(2) {
  margin-right: 200px
}

.catalog-navigation li:last-child {
  margin-right: 440px
}

/* --- --- --- --- advertisement slider --- --- --- --- */

.slider-advertisement .container {
  position: relative;
}

.slider-advertisement-list {
  /*
  counter-reset: advertisement-item-counter;

  done in a different way, see below
   */

  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;

  background: transparent;
  background: linear-gradient(180deg, rgba(240,197,46,0.5) 114px, rgba(255,255,255,0) 114px);
}

.slider-advertisement-item {
  display: none;
  position: relative;
}

.slider-advertisement-item::before {
  /*
  counter-increment: advertisement-item-counter;
  content: "0" counter(advertisement-item-counter);
  */

  display: block;

  position: absolute;
  top: -12px;
  right: 48px;

  background: transparent;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 179.2px;
  line-height: 179px;
  letter-spacing: 0.36px;
  color: #ffffff;
}

.slider-advertisement-image-container {
  flex-grow: 1;
}

.slider-advertisement-text-container {
  width: 560px;
  padding-right: 50px;
}

.slider-advertisement-advertising-message {
  position: relative;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;

  margin: 38px 0 18px 0;
  padding: 44px 0 0 0;
}

.slider-advertisement-advertising-message::before {
  content: "";

  display: block;
  width: 100px;
  height: 7px;

  position: absolute;
  top: 0;
  left: 0;


  background: #ffffff;
}

.slider-advertisement-button {
  margin: 48px 0 53px 0;
}

.slider-advertisement-product-features {
  list-style: none;
  padding: 0 0 0 0;

  display: flex;
  flex-wrap: wrap;

  font-family: "Open Sans light", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.slider-advertisement-product-features li {
  min-width: 162px;
  margin-bottom: 20px;
}

.slider-advertisement-product-features .single-feature {
  display: block;
  margin: 0 0 8px 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}

/* --- --- --- --- advertisement slider controls --- --- --- --- */

.slider-advertisement-controls {
  position: absolute;
  right: 78px;
  bottom: 149px;

  display: flex;
  flex-wrap: wrap;

  max-width: 96px;

  z-index: 10;

  font-size: 0;

  background-color: transparent;
}

.slider-advertisement-controls-item {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 10px;

  border-radius: 50%;
  cursor: pointer;

  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/slider-button-empty.svg");
}

#slider-advertisement-item-1:checked ~ .slider-advertisement-controls .slider-advertisement-controls-item:nth-child(1),
#slider-advertisement-item-2:checked ~ .slider-advertisement-controls .slider-advertisement-controls-item:nth-child(2),
#slider-advertisement-item-3:checked ~ .slider-advertisement-controls .slider-advertisement-controls-item:nth-child(3) {
  background-image: url("../img/slider-button.svg");
}

/* --- --- --- --- advertisement slider mechanics--- --- --- --- */

#slider-advertisement-item-1:checked ~ .slider-advertisement-list .slider-advertisement-item:nth-child(1),
#slider-advertisement-item-2:checked ~ .slider-advertisement-list .slider-advertisement-item:nth-child(2),
#slider-advertisement-item-3:checked ~ .slider-advertisement-list .slider-advertisement-item:nth-child(3) {
  display: flex;
}

/* --- --- --- --- advertisement slider current item styles --- --- --- --- */

.slider-advertisement-item:nth-child(1)::before {
  content: "01";
}

.slider-advertisement-item:nth-child(1) .slider-advertisement-image {
  margin: 2px 0 0 90px;
}



.slider-advertisement-item:nth-child(2)::before {
  content: "02";
}

.slider-advertisement-item:nth-child(2) .slider-advertisement-image {
  margin: 14px 0 0 116px;
}

#slider-advertisement-item-2:checked ~ .slider-advertisement-list .slider-advertisement-image-container   {
  /*
    fix for slider-advertisement-controls-item position on slide 2
  */
  max-height: 499px;
}


.slider-advertisement-item:nth-child(3)::before {
  content: "03";
}

.slider-advertisement-item:nth-child(3) .slider-advertisement-image {
  margin: 67px 0 0 31px;
}

/* --- --- --- --- popular --- --- --- --- */

.popular-categories {}

.popular-categories-list {
  list-style: none;
  padding: 0 0 0 0;
  margin: 86px 0 0 0;

  display: flex;
  flex-wrap: wrap;
}

.popular-categories-item {
  width: 160px;
  background: linear-gradient(180deg, rgba(240,197,46,0.5) 160px, rgba(255,255,255,0) 160px);

  margin: 0 40px 60px 0;
}

.popular-categories-item:nth-child(6n) {
  margin-right: 0;
}

.popular-categories-item:hover {
  background: linear-gradient(180deg, rgba(240,197,46,1) 160px, rgba(255,255,255,0) 160px);
}

a.popular-categories-link, a.popular-categories-link:hover {
  opacity: 1;
}

a.popular-categories-link:active {
  opacity: 0.3;
}

a.popular-categories-link {
  display: block;
  padding: 192px 0 0 0;
  margin: 0 0 0 0;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;

  background-color: transparent;
  background-position: 50% top;
  background-repeat: no-repeat;
}

.popular-categories-link.popular-categories-category-1 {
  background-image: url("../img/popular-1.svg");
  background-position: 50% 52px;
}

.popular-categories-link.popular-categories-category-2 {
  background-image: url("../img/popular-2.svg");
  background-position: 50% 43px;
}

.popular-categories-link.popular-categories-category-3 {
  background-image: url("../img/popular-3.svg");
  background-position: 49px 38px;
}

.popular-categories-link.popular-categories-category-4 {
  background-image: url("../img/popular-4.svg");
  background-position: 50% 48px;
}

.popular-categories-link.popular-categories-category-5 {
  background-image: url("../img/popular-5.svg");
  background-position: 54px 32px;
}

.popular-categories-link.popular-categories-category-6 {
  background-image: url("../img/popular-6.svg");
  background-position: 50% 48px;
}

/* --- --- --- --- services --- --- --- --- */


.slider-services {
  background: linear-gradient(180deg, rgba(255,255,255,0) 116px, rgba(229,229,229,1) 116px);
  min-height: 402px;
}

.slider-services-container {
  display: flex;
}
.slider-services-controls {
  flex-shrink: 0;
  list-style: none;
  padding: 82px 0 41px 0;

  border-right: 7px solid black;
  margin: 15px 0 70px;
}

.slider-services-controls li {
  margin: 0 0 27px 0;
  width: 278px;
}

/* --- --- --- --- services buttons --- --- --- --- */

.slider-services-controls-item {
  display: block;
  width: 160px;
  padding: 8px 0 7px;
  color: #000000;

  cursor: pointer;


  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;

  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  background: linear-gradient(180deg, rgba(255,255,255,0) 15px, rgba(240,197,46,1) 16px, rgba(240,197,46,1) 23px, rgba(255,255,255,0) 24px);

}

.slider-services-controls-item:hover {
  background-color: rgba(240,197,46,1);
}


/* --- --- --- --- services mechanics--- --- --- --- */

#slider-services-item-1:checked ~ .slider-services-controls li:nth-child(1) {
  background: #000000;
}

#slider-services-item-1:checked ~ .slider-services-controls li:nth-child(1) .slider-services-controls-item {
  color: rgba(247,225,132,1);
  background: #000000;
  cursor: initial;
}

#slider-services-item-2:checked ~ .slider-services-controls li:nth-child(2) {
  background: #000000;
}

#slider-services-item-2:checked ~ .slider-services-controls li:nth-child(2) .slider-services-controls-item {
  color: rgba(247,225,132,1);
  background: #000000;
  cursor: initial;
}

#slider-services-item-3:checked ~ .slider-services-controls li:nth-child(3) {
  background: #000000;
  cursor: initial;
}

#slider-services-item-3:checked ~ .slider-services-controls li:nth-child(3) .slider-services-controls-item {
  color: rgba(247,225,132,1);
  background: #000000;
}

#slider-services-item-1:checked ~ .slider-services-list .slider-services-item:nth-child(1),
#slider-services-item-2:checked ~ .slider-services-list .slider-services-item:nth-child(2),
#slider-services-item-3:checked ~ .slider-services-list .slider-services-item:nth-child(3) {
  display: block;
}

/* --- --- --- --- services items --- --- --- --- */

.slider-services-list {
  list-style: none;
  padding: 44px 0;
  margin: 15px 0;
}

.slider-services-item {
  display: none;
  padding: 30px 300px 30px 118px;
}

.slider-services h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  letter-spacing: 0.21px;
  line-height: 48px;
  color: #000000;
  margin: 0 0 30px 0;
}

.slider-services-item {
  background-color: transparent;
  background-position: 660px 32px;
  background-repeat: no-repeat;
}

.slider-services-item:nth-child(1) {
  background-image: url("../img/delivery.svg");
  background-position: 677px 41px;
}

.slider-services-item:nth-child(2) {
  background-image: url("../img/warranty.svg");
  background-position: 659px 19px;
}

.slider-services-item:nth-child(3) {
  background-image: url("../img/credit.svg");
  background-position: 651px 18px;
}



/* --- --- --- --- brands --- --- --- --- */

.brands {}

.brands-list {
  list-style: none;
  padding: 0 0 0 0;
  margin: 94px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brands-list li {

}

a.brand {
  display: block;
  width: 260px;
  height: 100px;
}

a.brand:hover {
  opacity: 1;
}

.brand-1 {
  background-image: url('../img/logo-1.png');
}

.brand-1:hover {
  background-image: url('../img/logo-1-hover.png');
}

.brand-2 {
  background-image: url('../img/logo-2.png');
}

.brand-2:hover {
  background-image: url('../img/logo-2-hover.png');
}

.brand-3 {
  background-image: url('../img/logo-3.png');
}

.brand-3:hover {
  background-image: url('../img/logo-3-hover.png');
}

.brand-4 {
  background-image: url('../img/logo-4.png');
}

.brand-4:hover {
  background-image: url('../img/logo-4-hover.png');
}


.about-us h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  letter-spacing: 0.21px;
  line-height: 48px;
  color: #000000;
}

.contacts h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  letter-spacing: 0.21px;
  line-height: 48px;
  color: #000000;
}











.social-list {
  list-style: none;
  padding: 0 0 0 0;
}











.disabled {
  display: none;
}
