html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #464646;

  background-color: #ffffff;
  /*
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;
  */
}

.main-theme {}


.main-theme a {
  text-decoration: none;
  color: #000000;
}
.main-theme a:hover {
  opacity: 0.6;
}
.main-theme a:active {
  opacity: 0.3;
}
.main-theme a:visited {
  color: #000000;
}







.page-header {}

.page-navigation {}

.header-logo {
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

/* fix for ie 10 and 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header-logo img:active {
    opacity: 0.3;
  }
}



.user-navigation {}

.header-search {}

/* --- */

.site-navigation {
  list-style: none;
  padding: 0 0 0 0;
  color: #000000;

}

.site-navigation li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.site-navigation h2 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 0 0;
}

.catalog-navigation {
  list-style: none;
  padding: 0 0 0 0;
}

.catalog-navigation li {
  text-transform: capitalize;
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

/* --- */

.slider {}
