@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroylight.woff') format('woff'),
    url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url('../fonts/gilroyextrabold.woff') format('woff'),
    url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../fonts/opensans.woff') format('woff'),
    url('../fonts/opensans.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans light';
  src:
    url('../fonts/opensanslight.woff') format('woff'),
    url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: normal;
}



html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans light", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;

  color: #464646;

  background-color: #ffffff;

  /*
  background-image: url("");
  background-position: top center;
  background-repeat: no-repeat;
  */
}



.main-theme {}

.main-theme a {
  text-decoration: none;
  color: #000000;
}
.main-theme a:hover {
  opacity: 0.6;
}
.main-theme a:active {
  opacity: 0.3;
}
.main-theme a:visited {
  color: #000000;
}

.button-animated {
  opacity: 1;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;

  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  background: linear-gradient(180deg, rgba(255,255,255,0) 14px, rgba(240,197,46,1) 15px, rgba(240,197,46,1) 22px, rgba(255,255,255,0) 23px);

  padding: 8px 40px 7px;

}


.button-animated:hover {
  opacity: 1;

  background-color: rgba(240,197,46,1);
}

.button-animated:active {
  opacity: 1;
  color: rgba(0,0,0,0.3);
  background-color: rgba(240,197,46,1);
}

.page-header {}

.page-navigation {
  color: #000000;
  background-color: #F0C52E;
}



.header-logo {
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

/* fix for ie 10 and 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header-logo img:active {
    opacity: 0.3;
  }
}



.user-navigation {
  font-family: "Open Sans light", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.header-search {}

/* --- */

.site-navigation {
  list-style: none;
  padding: 0 0 0 0;

}

.site-navigation li {
  text-transform: uppercase;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.site-navigation h2 {
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0 0 0 0;
}

.catalog-navigation {
  list-style: none;
  padding: 0 0 0 0;
}

.catalog-navigation li {
  text-transform: capitalize;
  font-family: "Open Sans light", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
}

/* --- */

.slider {}

.slider-list {
  list-style: none;
  padding: 0 0 0 0;
}

.slider-advertising-message {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  color: #000000;

}

.slider-product-features {
  list-style: none;
  padding: 0 0 0 0;

  font-family: "Open Sans light", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.slider-product-features .single-feature {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
}



.popular-categories {}

.popular-categories-list {
  list-style: none;
  padding: 0 0 0 0;
}

.popular-categories-item {
  width: 160px;
}

.popular-categories-item a, .popular-categories-item a:hover, .popular-categories-item a:active {
  opacity: 1;
}

.popular-categories-icon {
  display: block;
  width: 160px;
  height: 160px;

  margin: 0 0 0 0;
  padding: 0 0 0 0;

  background-color: rgba(240,197,45,0.5);
}

.popular-categories-icon img {

}

.popular-categories-caption {
  display: block;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  margin-top: 35px;

}

.popular-categories-item:hover .popular-categories-icon {
  background-color: rgba(240,197,45,1);
}

.popular-categories-item:active img, .popular-categories-item:active .popular-categories-caption {
  opacity: 0.3;
}



.services h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
  letter-spacing: 0.21px;
  line-height: 48px;
}



.brands {}

.brands-list {
  list-style: none;
  padding: 0 0 0 0;
}

.brands-list li {

}

.brand {
  display: block;
  width: 260px;
  height: 100px;
}

.brand-1 {
  background-image: url('../img/logo-1.png');
}

.brand-1:hover {
  background-image: url('../img/logo-1-hover.png');
}

.brand-2 {
  background-image: url('../img/logo-2.png');
}

.brand-2:hover {
  background-image: url('../img/logo-2-hover.png');
}

.brand-3 {
  background-image: url('../img/logo-3.png');
}

.brand-3:hover {
  background-image: url('../img/logo-3-hover.png');
}

.brand-4 {
  background-image: url('../img/logo-4.png');
}

.brand-4:hover {
  background-image: url('../img/logo-4-hover.png');
}
